@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
background-color: rgb(250, 235, 214);
}

*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: rgb(0, 0, 0);
width: 100%;
position: fixed;

display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 200px;
}
#me{
     padding: 50px;
  color: white;

  background: linear-gradient(to bottom , #950811, #3f161c);
    
}
.nav a{
    text-decoration: none;
    color: aliceblue;
 font-weight: 500;
 font-size: 1.1em;
    text-transform: uppercase; 
    padding: 30px;
}
.nav a:hover{
    color:  #bd0b17;
}
section{
padding: 50px 100px;
min-height: 100%;
}
